resources:
- name: environmental-variables
  type: RuntimeConfiguration.jinja
- name: stripeKey
  type: RuntimeVariable.jinja
  properties:
    value: {{ properties["stripeSecret"] }}
- name: getCustomer
  type: Function.jinja
  properties:
    environment: {{ properties["environment"] }}
    branch: master
- name: addSource
  type: Function.jinja
  properties:
    environment: {{ properties["environment"] }}
    branch: master
- name: createOrder
  type: Function.jinja
  properties:
    environment: {{ properties["environment"] }}
    branch: master
- name: payOrder
  type: Function.jinja
  properties:
    environment: {{ properties["environment"] }}
    branch: master
- name: updateEmail
  type: Function.jinja
  properties:
    environment: {{ properties["environment"] }}
    branch: master
- name: updatePrimarySource
  type: Function.jinja
  properties:
    environment: {{ properties["environment"] }}
    branch: master
- name: updateShipping
  type: Function.jinja
  properties:
    environment: {{ properties["environment"] }}
    branch: master
- name: stripeWebhookCreateOrder
  type: Function.jinja
  properties:
    environment: {{ properties["environment"] }}
    branch: master
- name: stripeWebhookPaidOrder
  type: Function.jinja
  properties:
    environment: {{ properties["environment"] }}
    branch: master
